@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
  font-family: "Akazan";
  src: url('Akazan-Regular.ttf');
}

:root {
  --primary-color: #0B9586;
  --secondary-color: #FFBB1C;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -khtml-box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.btn {
  display: block;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  transition: .3s;
  text-align: center;
}
.btn:hover {
  background-color: #098677;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 0px;
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  padding: 3rem 0;
}

ul {
  list-style: none;
}

body {
  font-family: 'Inter', sans-serif;
}

/* ############# */
/* start header */
/* ############# */

header {
  background-color: var(--primary-color);
  padding: 1rem 0;
  color: white;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .nav-links {
  display: flex;
}

header .nav-links li a {
  font-size: 1.3rem;
}

header .contact p {
  font-size: 1.3rem;
  text-align: end;
}

header .burger {
  display: none;
  width: 2.5rem;
  cursor: pointer;
  position: relative;
}

header .burger .links {
  display: none;
  position: absolute;
  background-color: var(--primary-color);
  top: 100%;
  right: 0;
  width: 200px;
  z-index: 99;
}

header .burger:hover .links {
  display: block;
}

header .burger .links a:last-child h2 {
  background-color: red;
}


/* ############# */
/* start hero */
/* ############# */

.hero {
  position: relative;
  /* height: 60vh; */
  color: white;
  background-image: url('images/hero.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* .hero img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  z-index: -1;
  left: 0;
  top: 0;
} */

.hero .hero-text {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  align-items: start;
  align-content: center;
  width: 50%;
}

.hero .hero-text .pro progress {
  margin: 0 1rem;
}

.hero .hero-text h1 {
  font-size: 3rem;
  margin-top: 3rem;
}

.hero .hero-text p {
  font-size: 1rem;
  line-height: 1.5rem;
}

.hero .hero-text .box {
  display: flex;
  gap: 1rem;
}
.hero .hero-text .box a {
  font-size: .7rem;
  background-color: var(--primary-color);
  padding: .6rem 1rem;
  border-radius: 30px;
  letter-spacing: 1px;
}

.hero .hero-text .box a:last-child {
  background-color: var(--secondary-color);
  color: black;
}

/* ############# */
/* start Installers */
/* ############# */

.installers .container {
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: center;
}

.installers .container .text {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
}

.installers .container .text h2 {
  font-weight: 500;
  font-size: 3rem;
}

.installers .container .text p {
  color: #475467;
  font-size: 1rem;
  line-height: 1.5rem;
}

.installers .container .text ol {
  list-style: none;
  counter-reset: list-counter;
}

.installers .container .text ol li {
  font-size: 1.2rem;
  font-weight: bold;
  padding: .4rem 0;
  position: relative;
}

.installers .container .text ol li::before {
  font-family: "Akazan";
  font-weight: 300;
  content:'0 ' counter(list-counter) ' /';
  color: var(--primary-color);
  margin-right: .5rem;
  counter-increment: list-counter;
  font-size: 1.2rem;
}

.installers .container .img {
  flex: 1;
  position: relative;
}

.installers .container .img img {
  width: 100%;
}

.installers .container .img .box {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 200px;
  border-radius: 10px;
  bottom: 15px;
  left: -30px;
  padding: 1.5rem;
  background-color: var(--secondary-color);
}

.installers .container .img .box img {
  width: 80px;
  align-self: flex-start;
  margin-bottom: 1rem;
}

/* ############# */
/* start power */
/* ############# */

.power {
  background-image: url('images/power.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  height: 550px;
}

.power .container {
  display: flex;
  align-items: center;
  height: 100%;
}

.power .container .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  width: 60%;
  height: 100%;
  /* padding: 5rem 0; */
}

.power .container .text h2 {
  font-weight: 500;
  font-size: 2.5rem;
}

.power .container .text p {
  font-size: 1.5rem;
  line-height: 1.7rem;
}

.power .container .text a {
  font-size: 1rem;
  padding: .5rem 1.5rem;
  border-radius: 30px;
  background-color: var(--secondary-color);
  color: black;
  width: fit-content;
}

/* ############# */
/* start solar */
/* ############# */

.solar {
  background-color: #F5F5F5;
}

.solar .container .title {
  text-align: center;
}

.solar .container .title h2 {
  font-weight: bold;
  font-size: 3rem;
  padding: 2rem 0;
}

.solar .container .title p {
  font-size: 1rem;
  color: #475467;
  line-height: 1.5rem;
  width: 80%;
  margin: auto;
}

.solar .container .card-container {
  padding-top: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 3rem;
}

.solar .container .card-container .card {
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.solar .container .card-container .card > img {
  width: 100%;
}

.solar .container .card-container .card .text {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.solar .container .card-container .card .text h4 {
  font-size: 1.3rem;
}

.solar .container .card-container .card .text p {
  font-size: .9rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: calc(1.2em * 3);
}

.solar .container .card-container .card .text a {
  color: var(--primary-color);
  display: flex;
  align-items: center;
}

.solar .container .card-container .card .text a img {
  margin-left: .5rem;
}

/* ############# */
/* start repairs */
/* ############# */

.repairs {
  background-image: url('images/repairs.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}

.repairs .container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.repairs .container .text {
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 85%;
  padding: 2rem;
}

.repairs .container .text h2 {
  font-weight: 500;
  font-size: 3rem;
  padding: 2rem 0;
}

.repairs .container .text p {
  font-size: 1.3rem;
  font-weight: 300;
  line-height: 2rem;
  text-align: center;
  padding-bottom: 2rem;
}

/* ############# */
/* start energy */
/* ############# */

.energy {
  background-color: #FFBB1C0D;
}

.energy .container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.energy .container .title {
  flex: 1;
  align-self: flex-start;
}

.energy .container .title h2 {
  font-weight: bold;
  font-size: 2rem;
  padding: 2rem 0;
}

.energy .container .title p {
  font-size: 1rem;
  line-height: 1.5rem;
}

.energy .container .card-container {
  flex: 2;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 3rem;
}

.energy .container .card-container .card {
  background-color: #3CAB900D;
  border: 1px solid #3ecca8;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 20px;
}

.energy .container .card-container .card .img {
  background-color: #3CAB9026;
  padding: 1.2rem 0;
  text-align: center;
}

.energy .container .card-container .card .img img {
  width: 50px;
}

.energy .container .card-container .card h4 {
  font-size: 1.3rem;
}

.energy .container .card-container .card p {
  color: #475467;
  font-size: .9rem;
  line-height: 1.5rem;
}

.energy .container .card-container .card a {
  color: var(--primary-color);
  display: flex;
  align-items: center;
}

.energy .container .card-container .card a img {
  margin-left: .5rem;
}

/* ############# */
/* start values */
/* ############# */

.values .container .title {
  text-align: center;
}

.values .container .title h2 {
  font-weight: bold;
  font-size: 3rem;
  padding: 2rem 0;
}

.values .container .title p {
  font-size: 1.2rem;
  color: #475467;
  line-height: 1.5rem;
  width: 80%;
  margin: auto;
}

.values .container .card-container {
  padding-top: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 3rem;
}

.values .container .card-container .card {
  background-color: #3CAB900D;
  border: 1px solid #3ecca8;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 20px;
}

.values .container .card-container .card img {
  width: 70px;
}

.values .container .card-container .card h4 {
  font-size: 1.5rem;
}

.values .container .card-container .card p {
  color: #475467;
  font-size: 1rem;
  line-height: 1.5rem;
}

/* ############# */
/* start about */
/* ############# */

.about .container {
  display: flex;
  gap: 3rem;
}

.about .container .title {
  flex: 1;
}

.about .container .title h2 {
  font-weight: bold;
  font-size: 3rem;
  padding: 2rem 0;
}

.about .container .testimonials {
  flex: 2;
  background-color: #3CAB900D;
  padding: 2rem;
}

.about .container .testimonials .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about .container .testimonials .head p {
  color: var(--primary-color);
}

.about .container .testimonials .head .dots {
  display: flex;
  gap: .5rem;
}

.about .container .testimonials .head .dots span {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #D9D9D9;
  cursor: pointer;
}

.about .container .testimonials .head .dots span:first-child {
  background-color: #6B6B6B;
}

.about .container .testimonials .body {
  font-size: 1.7rem;
  line-height: 2rem;
  padding-top: 2rem;
  width: 80%;
}

.about .container .testimonials .foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3rem;
}

.about .container .testimonials .foot .user {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.about .container .testimonials .foot .user h4 {
  font-size: 1.2rem;
  padding-bottom: .3rem;
}

.about .container .testimonials .foot .user p {
  font-size: .9rem;
  color: #475467;
}

.about .container .testimonials .foot .arrows {
  display: flex;
  gap: 1rem;
}

@media (max-width: 900px) {
  header .burger {
    display: block;
  }
  header nav,
  header .contact {
    display: none;
  }
  .hero .hero-text {
    width: 80%;
    /* padding: 0 1rem; */
  }
  .installers .container {
    flex-direction: column;
  }
  .power .container .text {
    width: 80%;
  }
  .repairs .container .text {
    width: 95%;
  }
  .repairs .container .text h2 {
    font-size: 2.5rem;
  }
  .repairs .container .text p {
    font-size: 1rem;
  }
    .energy .container {
    flex-direction: column;
  }
}

@media (max-width: 700px) {
  html {
    font-size: 14px;
  }
  .hero .hero-text {
    width: 100%;
  }
  .hero .hero-text h1 {
    font-size: 2rem;
  }
  .hero .hero-text .box {
    flex-direction: column;
  }
  .installers .container .img .box {
    left: 15px;
    opacity: .8;
  }
  .installers .container .text ol li {
    font-size: 1rem;
  }
  .power .container .text{
    width: 100%;
  }
    .repairs .container .text h2 {
    font-size: 1.6rem;
  }
  .about .container {
    flex-direction: column;
  }
  .about .container .testimonials .body {
    width: 100%;
    font-size: 1.3rem;
  }
  .about .container .testimonials .foot .arrows img {
    width: 30px;
  }
}