@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
  font-family: "Akazan";
  src: url('Akazan-Regular.ttf');
}

:root {
  --primary-color: #0B9586;
  --secondary-color: #FFBB1C;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -khtml-box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.btn {
  display: block;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  transition: .3s;
  text-align: center;
}
.btn:hover {
  background-color: #098677;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 0px;
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  padding: 3rem 0;
}

ul {
  list-style: none;
}

body {
  font-family: 'Inter', sans-serif;
}

/* ############# */
/* start header */
/* ############# */

header {
  background-color: var(--primary-color);
  padding: 1rem 0;
  color: white;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .nav-links {
  display: flex;
}

header .nav-links li a {
  font-size: 1.3rem;
}

header .contact p {
  font-size: 1.3rem;
  text-align: end;
}

header .burger {
  display: none;
  width: 2.5rem;
  cursor: pointer;
  position: relative;
}

header .burger .links {
  display: none;
  position: absolute;
  background-color: var(--primary-color);
  top: 100%;
  right: 0;
  width: 200px;
  z-index: 99;
}

header .burger:hover .links {
  display: block;
}

header .burger .links a:last-child h2 {
  background-color: red;
}


/* ############# */
/* start hero */
/* ############# */

.hero {
  position: relative;
  /* height: 60vh; */
  color: white;
  background-image: url('images/hero.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* .hero img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  z-index: -1;
  left: 0;
  top: 0;
} */

.hero .hero-text {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  align-items: start;
  align-content: center;
  width: 50%;
}

.hero .hero-text .pro progress {
  margin: 0 1rem;
}

.hero .hero-text h1 {
  font-size: 3rem;
  margin-top: 3rem;
}

.hero .hero-text p {
  font-size: 1rem;
  line-height: 1.5rem;
}

.hero .hero-text .box {
  display: flex;
  gap: 1rem;
}
.hero .hero-text .box a {
  font-size: .7rem;
  background-color: var(--primary-color);
  padding: .6rem 1rem;
  border-radius: 30px;
  letter-spacing: 1px;
}

.hero .hero-text .box a:last-child {
  background-color: var(--secondary-color);
  color: black;
}

/* ############# */
/* start Installers */
/* ############# */

.installers .container {
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: center;
}

.installers .container .text {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
}

.installers .container .text h2 {
  font-weight: 500;
  font-size: 3rem;
}

.installers .container .text p {
  color: #475467;
  font-size: 1rem;
  line-height: 1.5rem;
}

.installers .container .text ol {
  list-style: none;
  counter-reset: list-counter;
}

.installers .container .text ol li {
  font-size: 1.2rem;
  font-weight: bold;
  padding: .4rem 0;
  position: relative;
}

.installers .container .text ol li::before {
  font-family: "Akazan";
  font-weight: 300;
  content:'0 ' counter(list-counter) ' /';
  color: var(--primary-color);
  margin-right: .5rem;
  counter-increment: list-counter;
  font-size: 1.2rem;
}

.installers .container .img {
  flex: 1;
  position: relative;
}

.installers .container .img img {
  width: 100%;
}

.installers .container .img .box {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 200px;
  border-radius: 10px;
  bottom: 15px;
  left: -30px;
  padding: 1.5rem;
  background-color: var(--secondary-color);
}

.installers .container .img .box img {
  width: 80px;
  align-self: flex-start;
  margin-bottom: 1rem;
}

@media (max-width: 900px) {
  header .burger {
    display: block;
  }
  header nav,
  header .contact {
    display: none;
  }
  .hero .hero-text {
    width: 80%;
    /* padding: 0 1rem; */
  }
  .installers .container {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 14px;
  }
  .hero .hero-text {
    width: 100%;
  }
  .hero .hero-text h1 {
    font-size: 2rem;
  }
  .hero .hero-text .box {
    flex-direction: column;
  }
  .installers .container .img .box {
    left: 15px;
    opacity: .8;
  }
  .installers .container .text ol li {
    font-size: 1rem;
  }
}